{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in data %}
                <tr>
                    {% for key in stock %}
                        <td>{{ stock[key] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ total }}</b></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}